*.sdf
*.tlog
lazypw/Debug/vc120.idb
lazypw/lazypw.vcxproj.filters
*.7z
*.opensdf
*.mem
lazypw/lazypw.js
lazypw.web/bin/lazypw.web.dll.config
lazypw.web/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
lazypw.web/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
lazypw.web/obj/Debug/lazypw.web.csproj.FileListAbsolute.txt
lazypw.web/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs